
@{
    ViewBag.Title = "File System Browser";
}

<div ng-controller="DirectoryController">

    <h4>Current path: {{CurrentPath}}</h4>
    
    <div class="col-md-4" style="margin-top: 5px;" ng-controller="DriveController">
        <ul ng-repeat="drive in Drives">
            <li><a href="#" ng-click="getDirectoryData(drive._name)">{{drive._name}}</a></li>
        </ul>
    </div>

    <div class="col-md-4" ng-controller="FileController">
        <div ng-controller="SizeController">
            <span>Less 10Mb: {{LessThan10}} | 10Mb-50Mb: {{More10Less50}} | More 100Mb: {{MoreThan100}}</span>

            <br />
            <a href="#" ng-show="canBack" ng-click="getDirectoryData(goBack(CurrentPath))">..</a>

            <table>
                <tr ng-repeat="dir in Dirs">
                    <td>
                        <a href="#" ng-click="getDirectoryData(dir.FullPath); getFileData(dir.FullPath); getSizeData(dir.FullPath)">{{dir.OriginalPath}}</a>
                    </td>
                </tr>

                <tr ng-repeat="file in Files">
                    <td>
                        <a href="#">{{file.OriginalPath}}</a>
                    </td>
               </tr>
            </table>
        </div>
    </div>
        

    <div class="col-md-4">
        
    </div>
</div>
