
@{
    ViewBag.Title = "File System Browser";
}

<div ng-controller="DirectoryController">
    <h4>{{CurrentPath}}</h4>

    <div ng-controller="DriveController">
        <select>
           <option  ng-repeat="drive in Drives" ng-click="getDirectoryData(drive._name)">{{drive._name}}</option>
        </select>
    </div>


    <table ng-controller="FileController">
        <tr ng-repeat="dir in Dirs">
            <td>
                <a href="#" ng-click="getDirectoryData(dir.FullPath); getFileData(dir.FullPath)">{{dir.OriginalPath}}</a>
            </td>
        </tr>

        <tr ng-repeat="file in Files">
            <td>
                <a href="#">{{file.OriginalPath}}</a>
            </td>
        </tr>

    </table>
</div>
